@tailwind base;
@tailwind components;
@tailwind utilities;
/* font */
@layer base {
  @font-face {
    font-family: hind;
    src: url("./assets/fonts/hind/Hind-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: hindBold;
    src: url("./assets/fonts/hind/Hind-SemiBold.ttf") format("truetype");
  }
  html {
    font-family: hind;
  }
}
/* utility  classes */
.center-element {
  @apply flex justify-center items-center;
}
.default-transition {
  @apply duration-150 ease-out;
}

.header {
  @apply flex items-center justify-between mb-3;
}
.header-heading {
  @apply text-2xl text-tertiary capitalize font-semibold font-hindBold;
}
/* active nav-link */
.active {
  @apply bg-primary   !text-secondary hover:!bg-primary hover:opacity-80;
}

/* mui-tabs override */
.MuiTab-root {
  @apply !text-xs !font-semibold !capitalize;
}

.Mui-selected {
  @apply !text-primary !font-hindBold;
}
.MuiTabs-indicator {
  @apply !bg-primary !font-hindBold;
}

/* mui-checkbox override */
/* .MuiCheckbox-root {
  @apply !text-primary;
} */
